

.custom-sidebar-navitem {
    background-color: #FFF;
    max-width: 90%;
    border-bottom-right-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    color: #100D4C;
    font-weight: 700;
    }

.sidenav-bg {
    background: #100D4C;
}

.sidebar-menu-bg {
    background-color: #29275F;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    padding: .5rem 1rem;
    margin: 0 .5rem;
    display: block;
    color: #fff;
    text-decoration: none;
    border-radius: .35rem;
    white-space: nowrap;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
  background-color: #29275F;
}

.sidebar .nav-item .collapse .collapse-inner, .sidebar .nav-item .collapsing .collapse-inner {
    padding: 1.2rem 0;
    padding-left: 1rem;
    min-width: 10rem;
    font-size: .7rem;
    margin: 0 0 1rem 0;
}

@media (min-width: 768px) {
    .sidebar .nav-item .nav-link[data-toggle=collapse].collapsed::after {
       display: none;
}
    
    .sidebar .nav-item .nav-link[data-toggle=collapse]::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    display: none;
    font-family: 'Font Awesome 5 Free';
}
    
    .sidebar .nav-item .collapse, .sidebar .nav-item .collapsing {
    margin: 0 0rem;
}
    
    .sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0.7rem;
    width: 14rem;
}
    
}
