/*
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
*/

body{
    color: #184462;
}
.color-red{
    color: #e6766b;
}
.color-yellow{
    color: #cda32c;
}
.color-bronze{
    color: #956f27;
}
.color-green{
    color: #5c9e73;
}

.bg-transparent-white{
    background-color: #f8f9fa94;
}
.bg-light-blue{
    background-color: lightblue;
}

.h-85{
    height: 85% !important;
}
.h-20px{
    height: 20px;
}
.h-230px{
    height: 230px;
}
.h-600px{
    height: 600px;
}
.w-85{
    width: 85% !important;
}
.grids-none{
    stroke: none !important;
}

.box3, .box6{   
    width: 100%;   
    height: 200px;  
    border: 0px solid #aaaaaa;  
    background-color: #FFF; 
    z-index: 1;
}

.box7, .box8 {
    width: 100%;
    height: 218px;
    border: 0px solid #aaaaaa;
    background-color: #FFF; 
    z-index: 1;
}

.box1, .box2, .box4, .box5 {
    width: 100%;
    height: 50px;
    border: 0px solid #aaaaaa;
    background-color: #FFF; 
    z-index: 1;
}



/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
    
    .box3, .box6{   
        width: 100%;   
        height: 150px;  
        border: 0px solid #aaaaaa;  
        background-color: #FFF; 
    }

    .box7, .box8 {
        width: 100%;
        height: 222px;
        border: 0px solid #aaaaaa;
        background-color: #FFF; 
    }

    .box1, .box2, .box4, .box5 {
        width: 100%;
        height: 50px;
        border: 0px solid #aaaaaa;
        background-color: #FFF; 
    }
    
    .podal-pos {
        margin-right: 100px;
    }
    
}
@media (min-width: 320px) and (max-width: 991px){
    .box3 {   
        width: 100%;   
        height: 450px;  
        border: 0px solid #aaaaaa;  
        background-color: #FFF; 
        z-index: 1;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
    .box3, .box6{   
        width: 100%;   
        height: 372px;  
        border: 0px solid #aaaaaa;  
        background-color: #FFF; 
    } 

    .box7, .box8 {
        width: 100%;
        height: 398px;
        border: 0px solid #aaaaaa;
        background-color: #FFF; 
    }

    .box1, .box2, .box4, .box5 {
        width: 100%;
        height: 165px;
        border: 0px solid #aaaaaa;
        background-color: #FFF; 
    }
    
}

@media (min-width: 1500px) {
    .box1, .box2, .box4, .box5 {
        width: 100%;
        max-height: 100%;
        height: 250px;
        border: 0px solid #aaaaaa;
        background-color: #FFF; 
        z-index: 1;
    }

    .box3, .box6{   
        width: 100%;   
        max-height: 100%;
        height: 465px;  
        border: 0px solid #aaaaaa;  
        background-color: #FFF; 
    } 

    .box7, .box8 {
        width: 100%;
        max-height: 100%;
        height: 568px;
        border: 0px solid #aaaaaa;
        background-color: #FFF; 
    }
}

/*CUSTOM GLOBAL CSS*/
.modal-trans {
    background: transparent;
}

.content-bg {
    background: #ECF3F8;
}

.sidenav-bg {
    background: #100D4C;
}

.sidenav-item-bg {
    background: #225C83;
}