
/* Line Charts */
.ct-series-a .ct-line{
    stroke: #225C83 !important;
}
.ct-series-a .ct-point{
    stroke: #225C83 !important;
}
.ct-series-c .ct-point{
    fill: #cda32c !important; 
}

.ct-line {
    stroke-width: 2px !important;
}
.ct-point {
    stroke-width: 6px !important;
}

/* Bar Charts */
.ct-series-a .ct-bar{
    stroke: #225C83 !important;
}
.ct-series-b .ct-bar{
    stroke: #ff8176 !important;
}
/* Pie Charts */
.ct-series-a .ct-slice-pie{
    fill: #ff8176 !important; 
}
.ct-series-b .ct-slice-pie{
    fill: #225C83 !important;
}
.ct-series-c .ct-slice-pie{
    fill: #cda32c !important; 
}
.ct-series-d .ct-slice-pie{
    fill: #cd552c !important; 
}
.ct-series-e .ct-slice-pie{
    fill: #8e602e !important; 
}

/* Donut Charts */
.ct-series-a .ct-slice-donut-solid {
    stroke: #225C83;
    fill: #225C83;
}
.ct-series-b .ct-slice-donut-solid {
    stroke: #ff8176;
    fill: #ff8176;
}

/* Table */
.table .thead-dark th{
    background-color: #225C83 !important;
}