/* Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 10px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #707070;
    border-radius: 1rem;
}
.slider:before {
    position: absolute;
    content: "";
    height: 6px;
    width: 6px;
    left: 2px;
    bottom: 1px;
    background-color: #707070;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1rem;
}
input:checked + .slider {
    background-color: white;
    border: 1px solid rgb(75, 157, 211);
}
input:focus + .slider {
    box-shadow: 0 0 1px rgb(75, 157, 211);
}
input:checked + .slider:before {
    transform: translateX(6px);
    background-color: rgb(75, 157, 211);
}

/* Medium slider */
.slider-md {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #707070;
    border-radius: 1rem;
}
.slider-md:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    background-color: #707070;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1rem;
}
.slider-disabled:before{
    background-color: #707070 !important;
}
input:checked + .slider-md {
    background-color: white;
    border: 1px solid #E50F83;
}
input:focus + .slider-md {
    box-shadow: 0 0 1px rgba(255, 149, 0, 0.274);
}
input:checked + .slider-md:before {
    transform: translateX(24px);
    background-color: #E50F83;
}
