.bg-aliceblue{
    background-color: aliceblue;
}
.bg-light-red{
    background-color: rgb(255, 224, 224);
}

.hw-400px{
    height: 400px;
    width: 400px;
}
.ct-label {
    fill: white !important;
}