
/* Vertical Line */
.vertical-line{
    width: 0px;
    height: 100%;
    float: left; 
    border: 0.3px inset #BABABA ;
  }
/* Cursor */
.pointer{
    cursor: pointer;
}
/* Buttons */
.btn-img{
    background-color: transparent;
}
/* Background Color */
.bg-secondary {
    background-color: rgb(219, 219, 219);
}
.bg-white {
    background-color: #FFF;
}
.data-row, .bg-light-grey{
    background-color: #F2F2F2;
}
.bg-light-grey-2{
    background-color: #F7FAFA;
}
.bg-limegreen{
    background-color: #B2F900;
}
.bg-light-green{
    background-color: #5AC57D;
}
.bg-grey{
    background-color: #3B3B3B;
}

/* HEIGHT */
.data-row, .h-auto{
    height: auto;
}
.h-20px{
    height: 20px;
}
.h-30px{
    height: 30px;
}
.h-40px{
    height: 40px;
}
.h-42px{
    height: 42px;
}
.h-43px{
    height: 43px;
}
.h-48px{
    height: 48px;
}
.h-52px{
    height: 42px;
}
.h-38px{
    height: 28px;
}
.h-60px{
    height:60px;
}
.h-62px{
    height:52px;
}
.h-72px{
    height: 72px;
}
.h-78px{
    height: 78px;
}
.h-80px{
    height: 80px;
}
.h-90px{
    height: 90px;
}
.h-144px{
    height: 144px;
}
.h-210px{
    height: 210px;
}
.h-252px{
    height: 200px;
}
.h-195px{
    height: 195px;
}
.h-576px{
    height: 576px;
}
.h-600px{
    height: 600px;
}
.h-680px{
    height: 680px;
}
.h-550px{
    height: 550px;
}
.h-753px{
    height: 753px;
}
.h-804px{
    height: 804px;
}
.h-810px{
    height: 810px;
}
.h-859px{
    height: 859px;
}
.h-789px{
    height: 789px;
}
/* Max height */
.max-h-175px{
    max-height: 175px;
}
.max-h-583px{
    max-height: 583px;
}
.max-h-420px{
    max-height: 420px;
}
/* Min height */
.data-row, .min-h-60px{
    min-height: 60px;
}
.min-h-602px{
    min-height: 602px;
}
.min-h-680px{
    min-height: 680px;
}
.min-h-789px{
    min-height: 789px;
}

/* WIDTH */
.w-50per{
    width: 50%;
}
.w-60per{
    width: 55%;
}
.w-61per{
    width: 61%;
}
.w-62per{
    width: 62%;
}
.w-90per{
    width: 90%;
}
.w-100per{
    width: 100%;
}
.w-10px{
    width: 10px;
}
.w-20px{
    width: 20px;
}
.w-40px{
    width: 40px;
}
.w-50px{
    width: 50px;
}
.w-60px{
    width: 60px;
}
.w-80px{
    width: 80px;
}
.w-150px{
    width: 150px;
}
.w-207px{
    width: 207px;
}
.w-300px{
    width: 300px;
}
.w-394px{
    width: 394px;
}
.w-450px{
    width: 450px;
}
.w-850px{
    width: 850px;
}
.w-auto{
    width: auto;
}
/* Max width */
.max-w-90per{
    max-width: 90%;
}
.max-w-94per{
    max-width: 94%;
}
.max-w-661px{
    max-width: 661px;
}
/* Min width */
.min-w-100per{
    min-width: 100%;
}
/* Shadow */
.shadow-black-lg{
    box-shadow: #9bbbbd 14px 14px 40px;
}
.shadow-black-med{
    box-shadow: #9bbbbd 4px 4px 20px 0px;
}
.shadow-black-sm{
    box-shadow: #9bbbbd 0px 2px 1px 1px;
}
/* MARGINS */
.m-n31px{
    margin: -31px;
}
.m-n48px{
    margin-top: -45px;
    margin-left: -30px;
}
.m-n4800px{
    margin-top: -45px;
    margin-left: -20px;
}
/* Top margins */
.mt-n55per{
    margin-top: -55%;
}
.mt-n8per{
    margin-top: -8%;
}
.mt-1per{
    margin-top: 1%;
}
.mt-2per{
    margin-top: 2%;
}
.mt-3per{
    margin-top: 3%;
}
.mt-4per{
    margin-top: 4%;
}
.mt-n266px{
    margin-top: -266px;
}
.mt-n105px{
    margin-top: -140px;
}
.mt-n38px{
    margin-top: -38px;
}
.mt-n26px{
    margin-top: -26px;
}
.mt-n15px{
    margin-top: -15px;
}
.mt-5px{
    margin-top: 5px;
}
.mt-8px{
    margin-top: 8px;
}
.mt-10px{
    margin-top: 10px;
}
.mt-12px{
    margin-top: 12px;
}
.mt-15px{
    margin-top: 15px;
}
.mt-16px{
    margin-top: 16px;
}
.mt-18px{
    margin-top: 18px;
}
.mt-23px{
    margin-top: 23px;
}
.mt-24px{
    margin-top: 24px;
}
.mt-30px{
    margin-top: 30px;
}
.mt-56px{
    margin-top: 56px;
}
.mt-115px{
    margin-top: 115px;
}

/* Bottom margins */
.mb-n32px{
    margin-bottom: -32px;
}
.mb-24px{
    margin-bottom: 24px;
}
.mb-40px{
    margin-bottom: 40px;
}
.mb-50px{
    margin-bottom: 50px;
}
.mb-65px{
    margin-bottom: 65px;
}
.mb-80px{
    margin-bottom: 80px;
}

/* Left margins */
.ml-5per{
    margin-left: 5%;
}
.ml-33per{
    margin-left: 33%;
}
.ml-n35px{
    margin-left: -35px;
}
.ml-n22px{
    margin-left: -22px;
}
.ml-n18px{
    margin-left: -18px;
}
.ml-n9px{
    margin-left: -9px;
}
.ml-3px{
    margin-left: 3px;
}
.ml-22px{
    margin-left: 22px;
}
.ml-43px{
    margin-left: 43px !important;
}
.ml-46px{
    margin-left: 46px;
}
.ml-55px{
    margin-left: 55px;
}
.ml-70px{
    margin-left: 70px;
}
.ml-702px{
    margin-left: 696px;
}

/* Right margins */
.mr-5per{
    margin-right: 5%;
}
.mr-n35px{
    margin-right: -35px;
}
.mr-n10px{
    margin-right: -10px;
}
.mr-72px{
    margin-right: 72px;
}

/* Padding */
.p-0{
    padding: 0;
}
.p-10px{
    padding: 10px;
}
.p-15px{
    padding: 15px;
}
.p-30px{
    padding: 30px;
}
.p-35px{
    padding: 35px;
}
/* Padding X */
.px-35px{
    padding-left: 35px;
    padding-right: 35px;
}
.px-70px{
    padding-left: 70px;
    padding-right: 70px;
}
.px-100px{
    padding-left: 100px;
    padding-right: 100px;
}
.px-130px{
    padding-left: 130px;
    padding-right: 130px;
}
/* Padding Y */
.py-50px{
    padding-top: 50px;
    padding-bottom: 50px;
}
/* Padding Bottom */
.pb-10px{
    padding-bottom: 10px;
}

/* Borders */
.b-0{
    border: none;
}
.b-light-green{
    border: 1px solid #5AC57D;
}
.bb-1px{
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.bl-1px{
    border-left: 1px solid ;
}

.b-1px{
    border: 1px solid #6F6F6F;
}
/* Rounded Borders */
.rounded-0{
    border-radius: 0;
}
.rounded-0-5{
    border-radius: 0.5rem;
}
.rounded {
    border-radius:0.75rem!important
}
.rounded-top {
    border-top-left-radius:0.75rem!important;
    border-top-right-radius:0.75rem!important;
}
.rounded-top-right{
    border-top-right-radius:0.75rem!important;
}
.rounded-bottom {
    border-bottom-left-radius: 0.75rem !important;
    border-bottom-right-radius: 0.75rem !important;
}
.rounded-left {
    border-top-left-radius: 50rem !important;
    border-bottom-left-radius: 50rem !important;
}

/* Colors */
.text-black {
    color: #363636!important;
}
.text-grey{
    color: #505050;
}
.text-light-grey{
    color: #6F6F6F
}
.text-grey-2{
    color: #454444
}
.text-white {
    color: white;
}
.text-blue{
    color: #1081C8;
}
.text-light-blue{
    color: #38BDE5
}
.text-red{
    color:#ED1D24;
}
.text-light-red{
    color:#E85B5F;
}
.text-yellow{
    color: #FAF337;
}
.text-limegreen{
    color: #D3FB6D;
}
.text-limegreen-2{
    color: #B2F900
}
.text-dark-limegreen{
    color: #9CD904;
}
/* Font sizes */
.fs-2{
    font-size: 2px;
}
.fs-12{
    font-size: 12px;
}
.fs-13{
    font-size:13px;
}
.fs-16{
    font-size: 16px;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 18px;
}
.fs-21{
    font-size: 21px;
}
.fs-22{
    font-size: 22px;
}

.fs-23{
    font-size: 23px;
}
.fs-24{
    font-size: 24px;
}
.fs-26{
    font-size: 26px;
}
.fs-28{
    font-size: 28px;
}
.fs-35{
    font-size: 35px;
}
.fs-45{
    font-size: 45px;
}
.fs-50{
    font-size: 50px;
}

/* Charts */
.success-ring{
    stroke: #B2F900 !important;
    stroke-width: 8px !important;
}
.error-ring{
    stroke: #E85B5F !important;
    stroke-width: 8px !important;
}
.ct-series-b .ct-slice-donut {
    stroke: #BABABA !important;
    stroke-width: 5px !important;
}
.ct-slice-donut {
    stroke-width: 8px !important;
}
.ct-series-a .ct-line{
    stroke: #A3A0FB !important;
}
.ct-series-b .ct-line{
    stroke: #FF95F3 !important;
}
.ct-series-c .ct-line{
    stroke: #A8ED6C !important;
}
.ct-series-d .ct-line{
    stroke: #54D8FF !important;
}
.ct-series-e .ct-line{
    stroke: #DFE543 !important;
}
.ct-area{
    fill: transparent !important;
}

/* Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #707070;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: #707070;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: white;
    border: 1px solid #5AC57D
}
input:focus + .slider {
    box-shadow: 0 0 1px #5AC57D;
}
input:checked + .slider:before {
    transform: translateX(50px);
    background-color: #5AC57D;
}
input:checked + .slider:before {
    transform: translateX(50px);
    background-color: #5AC57D;
}
/* Small sliders */
.slider-sm {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 8px;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #707070;
}
.slider-sm::before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 2px;
    background-color: #707070;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider-sm {
    background-color: white;
    border: 1px solid #5AC57D
}
input:focus + .slider-sm {
    box-shadow: 0 0 1px #5AC57D;
}
input:checked + .slider-sm:before {
    transform: translateX(18px);
    background-color: #5AC57D;
}
/* Rounded sliders */
.slider.round, .slider-sm {
    border-radius: 34px;
}
.slider.round:before , .slider-sm:before {
    border-radius: 50%;
}
/* Checkbox properties - Kyk of kleiner kan */
/* Customize the label (the container) */

  
/* Hide the browser's default checkbox */
.container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #FFF;
    margin-left: 30px;
    margin-top: 6px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: 2px solid #5AC57D;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Media queries */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .fs-26, .fs-24, .fs-20 .fs-21{
        font-size: 14px !important;
    } 
    .fs-20 {
        font-size: 14px;
    }
    .fs-16{
        font-size: 12px !important;
    }
    .fs-14{
        font-size: 10px;
    }
    .sm-0{
        margin: 0 !important;
        padding: 0 !important;
    }
    .sm-p-0{
        padding: 0 !important;
    }
    .sm-m-0{
        margin: 0 !important;
    }
    .ml-sm-1{
        margin-left: 0.2rem !important;
    }
    .mr-sm-1{
        margin-right: 0.2rem !important;
    }
    .data-row{
        border-radius: 0 !important;
    }
    .w-60px{
        width: 35px;
    }
    .w-sm-auto{
        width: auto;
    }
    .w-sm-100{
        width: 100%;
    }
    .h-60px{
        height: 35px;
    }
    .h-789px{
        max-height: 420px !important;
    }
/*
    .mb-5{
        margin-bottom: 10px !important;
    }
*/
/*
    .mt-5{
        margin-top: 10px !important;
    }
*/
    .mt-sm-3{
        margin-top: 1rem !important;
    }
    .mt-18px{
        margin-top: 5px!important;
    }
    .mr-sm-3{
        margin-right: 1rem;
    }
    .ml-sm-3{
        margin-left: 1rem;
    }
    .ml-sm-4{
        margin-left: 1.75rem;
    }
    .ml-sm-n3{
        margin-left: -1rem;
    }
    .my-sm-3{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .sm-round-right{
        border-top-right-radius:1rem!important;
        border-bottom-right-radius:1rem!important;
    }
    .sm-round-left{
        border-top-left-radius:1rem!important;
        border-bottom-left-radius:1rem!important;
    }
    .sm-round-top-left{
        border-top-left-radius:0.75rem!important;
    }
    .h-15px{
        height: 15px;
    }
    .h-680px{
        height: 460px;
    }
    .min-h-680px{
        min-height: 460px;
    }
    .min-h-789px {
        min-height: 460px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 276px) and (max-width: 767.98px) {
    .modal-mid {
    padding-top: 40%;
    
}
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .remember-col{
        padding-left: 66px;
    }
    .forgot-tablet{
        float: right !important;
    }
    .fs-26, .fs-24{
        font-size: 20px;
    }
    .ml-md-68px{
        margin-left: 68px;
    }
    .modal-mid {
    padding-top: 40%;
    }
    
    .success-ring{
    stroke: #B2F900 !important;
    stroke-width: 8px !important;
    max-height: 180px;
}
.ct-chart-error{
    max-height: 180px;
}
    .m-n48px{
    margin: -30px;
}
    .mt-n105px{
    margin-top: -125px;
}
    
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .modal-mid {
    padding-top: 10%;
    }
    .fs-24{
        font-size: 20px;
    }
}
@media  (min-width: 1200px) {
    .modal-mid {
    padding-top: 10%; 
}
}

.card-header-custom{
    padding-top: .5rem;
    padding-bottom: .4rem;
    border-bottom: none;
}

.font-weight-6{
    font-weight: 600;
}
.font-weight-5{
    font-weight: 500;
}
.font-weight-3{
    font-weight: 300;
}







.custum-field-txt{
    font-size: .9rem !important;
    font-weight: 300 !important;
}
.nav-free-but{
    background: #FF9300;
    border-radius: 2rem;
    color: #fff !important;
    font-weight: 600;
    }
.bluegrey{
    color: #ACBAD3 !important;
    border-color: #ACBAD3;
}



@media (min-width: 768px){
    
}

@media (min-width: 992px){
    .login-desk-width{
    max-width: 86%;
}
    .remember-col{
        padding-left: 33px;
    }
}
    




