body{
    height: 100%;
    color: #100D4C;
    font-size: 15px;
    background-color: #ECF3F8;
    font-family: "Century Gothic Pro", "century gothic", "Muli" !important;
}

p {

    margin-top: 0;
    margin-bottom: 0;
    color: #7C8EB2;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

hr {
    border-top: 1px solid black;
    width: auto;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #536486 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #536486 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #536486 !important;
}

/* Rounded */
.rounded-2{
    border-radius: 1rem;
}
/* Border */
.b-0{
    border: none;
}
.b-blue-1{
    border: 1px solid #100D4C;
    font-size: 12px;
    color: #100D4C;
    font-weight: 700;
}
.checkmark, .b-light-grey-1{
    border: 1.2px solid #A0A0A0;
}
.b-light-grey-2{
    border: 1px solid rgb(230, 230, 230);
}
/* Background color */
.bg-blue{
    background-color: #45A7FB;
}
.bg-white{
    background-color: #FFF;
}
/* Color */
.text-white{
    color: #FFF;
}
.text-light-grey{
    color: #A0A0A0;
}
.text-dark-blue{
    color: #0277C6
}
.text-grey{
    color: #707070;
}
.text-black{
    color: #0D1904;
}
.field-text-color{
    color: #536486 !important;
}
.bean-orange{
    color: #FF9300;
}
/* Font size */
.fs-11 {
    font-size: 11px;
}
.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}
/* Margin */
/* Margin-Top */
.mt-10px{
    margin-top: 10px;
}
.mt-12px{
    margin-top: 12px;
}
.mt-100px{
    margin-top: 100px;
}
.mt-200px{
    margin-top: 200px;
}
/* Padding */
.p-0{
    padding: 0;
}
/* Height */
.h-30px{
    height: 30px;
}
.h-35px{
    height: 35px;
}
.h-45px{
    height: 45px;
}
.h-50px{
    height: 50px;
}
.h-85px{
    height: 85px;
}
.h-100px{
    height:100px;
}
/* Width */
.w-auto{
    width: auto;
}
.w-30px{
    width: 30px;
}
.w-70px{
    width: 70px;
}
.w-80px{
    width: 80px;
}
.w-150px{
    width: 150px;
}
.w-300px{
    width: 300px;
}
.w-400px{
    width: 400px;
}
.w-500px{
    width: 500px;
}

/* Checkbox properties - Kyk of kleiner kan */
/* Customize the label (the container) */
.container-check {
    display: block;
    position: relative;
    padding-left: 8%;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default checkbox */
.container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.checkmark {
    margin-top: 1px;
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: #FFF;
}
  
/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
    background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
    background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid orange;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Checkbox2 properties - Kyk of kleiner kan */
/* Customize the label (the container) */
.container-check2 {
    display: block;
    position: relative;
    padding-left: 20%;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default checkbox */
.container-check2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.checkmark2 {
    margin-top: 3px;
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #FFF;
    border: #ACBAD3 solid 1.2px;
}
  
/* On mouse-over, add a grey background color */
.container-check2:hover input ~ .checkmark2 {
    background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.container-check2 input:checked ~ .checkmark2 {
    background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.container-check2 input:checked ~ .checkmark2:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-check2 .checkmark2:after {
    left: 4.4px;
    top: 2px;
    width: 4px;
    height: 7px;
    border: solid orange;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Checkbox3 properties - Kyk of kleiner kan */
/* Customize the label (the container) */
.container-check3 {
    display: block;
    position: relative;
    padding-left: 6%;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default checkbox */
.container-check3 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.checkmark3 {
    margin-top: 3px;
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #FFF;
    border: #ACBAD3 solid 1.2px;
}
  
/* On mouse-over, add a grey background color */
.container-check3:hover input ~ .checkmark3 {
    background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.container-check3 input:checked ~ .checkmark3 {
    background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark3:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.container-check3 input:checked ~ .checkmark3:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-check3 .checkmark3:after {
    left: 4.6px;
    top: 1.8px;
    width: 4px;
    height: 7px;
    border: solid orange;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Rounded corners */
.rounded-0-5 {
    border-radius: 0.5rem !important;
}
.rounded-0-1 {
    border-radius: 1rem !important;
}
.rounded-left-border {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.rounded-right-border {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

/* Shadow */
.shadow-custom-lg {
    box-shadow: #D0E9FF 14px 14px 40px;
    border-radius: 0.5rem;
}
.shadow-custom-med {
    box-shadow: #D0E9FF 4px 4px 20px 0px;
    border-radius: 0.5rem;
}
.shadow-custom-sm {
    box-shadow: #D0E9FF 0px 2px 8px 0px;
    border-radius: 0.5rem;
}

/* Centering */
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Buttons */
.nav-free-but:hover,
    .nav-free-but:active,
    input[type=submit]:hover,
    input[type=submit]:active{
    background-color: #FD9326;
        font-weight: 700;
    }
    .nav-free-but:hover,
    .nav-free-but:active{
    border: 2px solid #fff;
    color: #fff;
    border-radius: 100px;
        font-weight: 700;
    }
.the-border{
    border: 2px solid;
    border-radius: 100px;
    color: #261050;
    font-weight: 700;
    }
.main-purple{
    color: #261050;
    }
/*
.nav-free-butt{
    background: #FF9300;
    border-radius: 2rem;
    color: #fff !important;
    text-align: center;
    }
*/

.logo-size-pos {
    max-width: 50%;
    margin-top: 12%;
    margin-bottom: 3%;
}

.logo-size-register {
    max-width: 100%;
    margin-top: 13%;
    margin-bottom: 5%;
}

.org-setup {
    margin-bottom: 12%;
}

.org-name {
    margin-bottom: 4%;
}

.org-type {
    margin-bottom: 6%;
}

.org-if-text{
    margin-bottom: 5%;
}

.org-brand {
    margin-bottom: 6%;
}

.org-where-text {
    margin-bottom: 3%;
}

.org-email {
    margin-bottom: 9%;
}

.btn-bottom {
    margin-bottom: 17%;
}

.logo-size-pos-sign {
    max-width: 50%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.bc-logo {
    margin-top: 12%;
}

.org-setup-sign {
    margin-bottom: 8%;
}

.bluegrey{
    color: #ACBAD3 !important;
    border-color: #ACBAD3;
}

.org-name-login {
    margin-bottom: 12%;
}

.rem-row {
    margin-bottom: 15%;
}

.fp-row {
    margin-bottom: 16px;
}

.custom-form {
    max-width: 97%;
    
}
.org-name-up {
    margin-bottom: 7%;
}

.agree-b {
    margin-bottom: 9%;
}

.verify-b {
    margin-bottom: 9%;
}

.we-sent-row {
    margin-bottom: 9%;
}

.btn-back-bottom {
    margin-bottom: 30%;
}

.verify-txt-color {
    color: #261050;
}

.kwl-icon {
    margin-bottom: 7%;
}

.cont-b {
    margin-bottom: 4%;
}

.brand-height-q {
    max-width: 38%;
}

.brand-height-xero {
    max-width: 22%;
}

.brand-height-sage {
    max-width: 24%;
}

.q-h {
    min-height: 100%;
}

.x-h {
    min-height: 100%;
}

.s-h {
    min-height: 105%;
}

.int-btn-b {
    margin-bottom: 10%;
}

.logo-size-int {
    max-width: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.acc-card {
    max-width: 47%;
}

.sage-link-logo {
    max-width: 75%;
}

.login-details-b {
    margin-bottom: 6%;
}

.allow-tbm {
    margin-top: 5%;
    margin-bottom: 11%;
}

.org-i-sign {
    margin-bottom: 11%;
}

.recovery-logo {
    margin-top: 15%;
    margin-bottom: 4%;
}

.recovery-text {
    margin-top: 9%;
    margin-bottom: 11%;
}

.recover-btn {
    margin-top: 11%;
    margin-bottom: 5%;
}

.recover-sign-up {
    margin-bottom: 20%;
}

.logo-size-int-2 {
    margin-top: 12%;
    margin-bottom: 4%;
}

.recovery-2 {
    margin-bottom: 8%;
}

.email_icon_width {
    max-width: 80%;
}


/*// Extra small devices (portrait phones, less than 576px)*/
/*// No media query for `xs` since this is the default in Bootstrap*/
.el-registerio {
    margin-top: 100px;
    margin-bottom: 100px;
}
.form-control {
    color: #536486 !important;
    border: none;

}
.input-group-text {
    color: #536486;
    border: none;

}
.card {

    border: none;

}
.red-arrow-hero {
    margin-top: 7px;
}
.cubezoo-size {
    max-height: 30px;
    margin-top: 8px;
}
.int-page-height{
        height: 100vh;
}
.g-field-size{
    height: 46px;
}
.logo-link-pos {
    max-width: 100%;
    margin-top: 12%;
    margin-bottom: 5%;
}

.recovery-3 {
    margin-bottom: 13%;
}

.recovery-4 {
    margin-bottom: 5%;
}

.set-b {
    margin-bottom: 20%;
}

.small-building-size {
    max-width: 90%;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    
    .logo-link-pos {
        max-width: 50%;
        margin-top: 12%;
        margin-bottom: 5%;
}
    .int-page-height{
        height: 100vh;
}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

    .int-page-height{
        height: 100vh;
}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    
    .int-page-height {
    height: 990px;
}
    .custom-card {
        max-width: 47%;
}
    .verify-card {
        max-width: 36%;
}
    .logo-link-pos {
        max-width: 50%;
        margin-top: 12%;
        margin-bottom: 5%;
}   
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

    .int-page-height {
    height: 1100px;
}
}



















