body{
    font-family: "Roboto";
    background-color: #A0A3A5;
    height:100%;
}
/* Nodig? */
hr{
    border-top: 1px solid rgb(191, 191, 191)!important;
}
/* Background */
.taxi-bg{
    background-image: url("../img/taxi-rank-background.png");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.testo{
    padding: 0 133px;
}
/* Background Color */
.bg-secondary {
    background-color: rgb(219, 219, 219);
}
.bg-white {
    background-color: #FFF;
}
.bg-light-grey{
    border-color: #dcdcdc;
}
.bg-limegreen{
    background-color: #B2F900;
}
.bg-light-green{
    background-color: #5AC57D;
}
.bg-grey{
    background-color: #3B3B3B;
}
.bg-light-grey{
    background-color: #ACACAC;
}

/* HEIGHT */
.h-40px{
    height: 40px;
}
.h-42px{
    height: 42px;
}
.h-43px{
    height: 43px;
}
.h-48px{
    height: 48px;
}
.h-72px{
    height: 72px;
}
.h-78px{
    height: 78px;
}
.h-80px{
    height: 80px;
}
.h-144px{
    height: 144px;
}
.h-252px{
    height: 252px;
}
.h-600px{
    height: 600px;
}
.h-753px{
    height: 753px;
}
.h-804px{
    height: 804px;
}
.h-810px{
    height: 810px;
}
.h-859px{
    height: 859px;
}
/* Max height */
.max-h-175px{
    max-height: 175px;
}

/* WIDTH */
.w-50per{
    width: 50%;
}
.w-90per{
    width: 90%;
}
.w-100per{
    width: 100%;
}
.w-150px{
    width: 150px;
}
.w-207px{
    width: 207px;
}
.w-394px{
    width: 394px;
}
.w-auto{
    width: auto;
}
/* Max width */
.max-w-90per{
    max-width: 90%;
}
.max-w-661px{
    max-width: 661px;
}
/* Min width */
.min-w-100per{
    min-width: 100%;
}


/* Shadow */
.shadow-black-lg{
    box-shadow: #0000004D 14px 14px 40px;
}
.shadow-black-sm{
    box-shadow: #0000000A 0px 2px 6px;
}

/* MARGINS */
.m-22px{
    margin: 22px;
}
/* Top margins */
.mt-n55per{
    margin-top: -55%;
}
.mt-n8per{
    margin-top: -8%;
}
.mt-1per{
    margin-top: 1%;
}
.mt-2per{
    margin-top: 2%;
}
.mt-3per{
    margin-top: 3%;
}
.mt-4per{
    margin-top: 4%;
}
.mt-n266px{
    margin-top: -266px;
}
.mt-n26px{
    margin-top: -26px;
}
.mt-8px{
    margin-top: 8px;
}
.mt-12px{
    margin-top: 12px;
}
.mt-15px{
    margin-top: 15px;
}
.mt-16px{
    margin-top: 16px;
}
.mt-23px{
    margin-top: 23px;
}
.mt-24px{
    margin-top: 24px;
}
.mt-30px{
    margin-top: 30px;
}
.mt-56px{
    margin-top: 56px;
}

/* Bottom margins */
.mb-n32px{
    margin-bottom: -32px;
}
.mb-24px{
    margin-bottom: 24px;
}
.mb-40px{
    margin-bottom: 40px;
}
.mb-50px{
    margin-bottom: 50px;
}
.mb-80px{
    margin-bottom: 80px;
}

/* Left margins */
.ml-5per{
    margin-left: 5%;
}
.ml-33per{
    margin-left: 33%;
}
.ml-n35px{
    margin-left: -35px;
}
.ml-n22px{
    margin-left: -22px;
}
.ml-n9px{
    margin-left: -9px;
}
.ml-3px{
    margin-left: 3px;
}
.ml-70px{
    margin-left: 70px;
}

/* Right margins */
.mr-5per{
    margin-right: 5%;
}
.mr-n35px{
    margin-right: -35px;
}
.mr-n10px{
    margin-right: -10px;
}
.mr-72px{
    margin-right: 72px;
}

/* Padding */
.p-0{
    padding: 0;
}
.p-35px{
    padding: 35px;
}

/* Borders */
.b-0{
    border: none;
}
.bb-1px{
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.bl-1px{
    border-left: 1px solid ;
}
/* Rounded Borders */
.rounded-0{
    border-radius: 0;
}
.rounded {
    border-radius:0.75rem!important
}
.rounded-top {
    border-top-left-radius:0.75rem!important;
    border-top-right-radius:0.75rem!important;
}
.rounded-bottom {
    border-bottom-left-radius: 0.75rem !important;
    border-bottom-right-radius: 0.75rem !important;
}
.rounded-left {
    border-top-left-radius: 50rem !important;
    border-bottom-left-radius: 50rem !important;
}


/* Colors */
.text-black {
    color: black!important;
}
.text-grey{
    color: #505050;
}
.text-grey-2{
    color: #454444
}
.text-white {
    color: white;
}
.text-blue{
    color: #1081C8;
}
.text-light-blue{
    color: #38BDE5
}
.text-red{
    color:#ED1D24;
}
.text-yellow{
    color: #FAF337;
}
.text-limegreen{
    color: #D3FB6D;
}
.text-limegreen-2{
    color: #B2F900
}

/* Font sizes */
.fs-24{
    font-size: 24px;
}
.fs-18{
    font-size: 18px;
}
.fs-26{
    font-size: 26px;
}
.fs-12{
    font-size: 12px;
}
.fs-21{
    font-size: 21px;
}
.fs-16{
    font-size: 16px;
}
.fs-23{
    font-size: 23px;
}
.fs-2{
    font-size: 2px;
}
.fs-50{
    font-size: 50px;
}
.fs-45{
    font-size: 45px;
}
.fs-13{
    font-size:13px;
}

/* Charts */
.success-ring{
    stroke: #B2F900 !important;
    stroke-width: 8px !important;
}
.error-ring{
    stroke: #E85B5F !important;
    stroke-width: 8px !important;
}
.ct-series-b .ct-slice-donut {
    stroke: #BABABA !important;
    stroke-width: 5px !important;
}
.ct-slice-donut {
    stroke-width: 8px !important;
}
.ct-series-a .ct-line{
    stroke: #A3A0FB !important;
}
.ct-series-b .ct-line{
    stroke: #FF95F3 !important;
}
.ct-series-c .ct-line{
    stroke: #A8ED6C !important;
}
.ct-series-d .ct-line{
    stroke: #54D8FF !important;
}
.ct-series-e .ct-line{
    stroke: #DFE543 !important;
}
.ct-area{
    fill: transparent !important;
}