/* custom.css */
    body {
    font-family: "Century Gothic Pro", "century gothic", "Muli" !important;
    }
    .hov-ora:hover{
        color: #FF9300;
    }
    .nav-logo{
        width: 230px;
    }
    img.grayscale {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    }

    video {
        max-width: 100%;
        height: auto;
      }

    .feature-img-block{
        background-color: #261050;
    }

    .active-feature{
        color: rgb(203, 27, 165) !important;
    }

    .hidden{
        display: none;
    }
    .show{
        display: block;
    }
    .orange-c{
        color: #fff;
    }
    .orange-c:hover{
        color: #FF9300;
    }
    img.grayscale:hover {
      filter: none;
      -webkit-filter: grayscale(0%);
        transition: .5s;
    }
    .form-rounded-form{
        border-radius: 0.5rem;
    }
    .inj-img{
    background-image: url(assets/img/Slices/Footer%2520Tablet/Logo%20tablet.png);
    height: 50px;
    width: 200px;
    z-index: 5000;
    top: 50px;
    background-color: transparent;
    }
    .for-img{
        height: 100px;
    }
    .btt-btn{
        background-color: #261050;
    }
    .relative-size{
        height: 80px;
    }
    .position-bg{
    background-color: #EDEDFF;
    height: 20px;
    z-index: -1;
    width: 450px;
    bottom: 40px
    }
    .avatar-size{
    max-width: 130px;
    }
    .the-back{
    background-image: url("../img/Slices/Home/Testimonial_Background.png");
    background-repeat: no-repeat;
    background-size: 100% 550px;
    background-position: bottom;
        z-index: 0;
    }
    .footer-menu{
    padding-bottom: 4px;
    }
    .form-rounded{
    border-radius: 2rem;
    }
    .custom-f-font{
    font-size: 11px;
    }
    .dot-size{
    max-height: 50px;
    }
    .bg-bc{
    background-image: url("../img/Slices/Features/Feature%20background%20full.png");
    background-repeat: no-repeat;
    background-size: cover;
    }
    .btn-width{
    width: 110px;
    }
/* BUTTON STYLING */
    .the-border-field{
    border: 1px solid;
    }
    .the-border{
    border: 2px solid;
    }
/* NAVIGATION ANIMATIONS */
    .nav-weight{
    font-weight: 400;
    }
    .footer-right-height{
    max-height: 226px;
    float: right;
    }
    .not-bold{
    font-weight: 400;
    }
    .bold-five{
    font-weight: 500;
    }
    .fw-bold{
    font-weight: 900;
    }
    .brand-size-1{
    max-width: 150px;
    }
    .brand-size-2{
    max-width: 100px;
    }
    .brand-size-3{
    max-width: 120px;
    }
/* DESIGN COLORS */
    .main-purple{
    color: #261050;
    }
    .nav-free-purp{
    background-color: #991586;
    }
    .nav-free-or{
    background: #FF9300;
    }
    .price-pink-btn{
    background: #E50F83;
    }
    .main-bg{
    background: #261050;
    }
    .light-purple{
    color: #786C90;
    }
    .pretty-purple{
    color: #991586;
    }
    .submit-btn-pink{
    background-color: #E50F83;
    }
    .btn.submit-btn-pink:hover,
    .btn.submit-btn-pink:active,
    input[type=submit]:hover,
    input[type=submit]:active{
    background-color: #fff;;
    }
    .btn.submit-btn-pink:hover,
    .btn.submit-btn-pink:active{
    border: 2px solid #261050;
    color: #261050;
    }
    .social-color{
    color: #FF9300;
    }
    .hasty-purple{
    color: #991586;
    }
    .footer-purple{
    background: #190A36;
    }
    hr.orange{
    border-top: 1px solid #FF9300;
    width: 90%;
    }
    hr.hasty{
    border-top: 1px solid #991586;
    width: 90%;
    }
    hr.price-pink{
    border-top: 1px solid #E50F83;
    width: 90%;
    }
    .price-pink{
    color: #E50F83;
    }
/* BUTTON STYLES AND ANIMATIONS */
    .free-btn:hover,
    .free-btn:active,
    input[type=submit]:hover,
    input[type=submit]:active{
    background-color: #FD9326;
    }
    .free-btn:hover,
    .free-btn:active{
    border: 2px solid #fff;
    color: #fff;
    }
    .nav-weight{
    font-weight: 400;
    }
    .active, .nav-weight:hover{
    }
/* IMAGE ROLLOVER */
    .swap-on-hover{
    position: relative;	
    margin:  0 auto;
    }
    .swap-on-hover img{
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    }
    .swap-on-hover .swap-on-hover__front-image{
    z-index: 9999;
    transition: opacity .2s linear;
    cursor: pointer;
    }
    .swap-on-hover:hover > .swap-on-hover__front-image{
    opacity: 0;
    }
    .little-hr{
    width: 100px;
    border-top: 1.5px solid #EAEDF2;
    }
    .footer-height{
    max-height: 250px;
    }
    .feature-img{
    max-width: 100px;
    } 
    .feature-container{
    height: 90px;
    }
/* MEDIA QUERIES */
    @media (max-width: 576px) {
    
    .navbar-brand{
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    .card-image-size-1{
    max-width: 200px;
    max-height: 125px;
    } 
    .nav-logo{
    width: 150px;
    }
    .contact-par{
        font-size: 12px;
        line-height: 1.2rem;
    }
    .navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    line-height: inherit;
    white-space: nowrap; 
    color: #261050;
    }
    .shadow-custom{
    box-shadow: 0 0.2rem 0.3rem rgba(242, 248, 252, 1) !important;
    }
    .white-width{
    max-width: 260px;
    }
    .the-back{
    background-image: url("../img/Slices/Home/Mobile%20Testimonial.png");
    background-repeat: no-repeat;
    background-size: 100% 130%;
    background-position: bottom;
    }
    .relative-size{
    height: 40px;
    }
    }
/* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) { 
    .white-width{
    max-width: 500px;
    }
    .card-height{
    height: 450px;
    }
    .feature-img{
    max-width: 120px;
    } 
    .feature-container{
    height: 120px;
    }
    .relative-size{
        height: 10px;
    }
    .card-image-size-1{
    max-width: 200px;
    max-height: 125px;
    } 
    }
/* Medium devices (tablets, 768px and up) */
    @media (max-width: 991.8px) {
    .secret-shadow{
    margin-top: 10px;
    box-shadow: inset 0px 5px 0.3rem rgba(242, 248, 252, 1);
    }
    .navbar-toggler{
        margin-right: 1.5rem;
    }
    .navbar-brand{
        margin-left: 1.5rem;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
    }
    .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 0rem; }
    .mobi-nav-style{
        border-bottom: 1px #F2F8FC solid;
        font-size: 16px;
    }
    .mobi-nav-style-1{
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .nav-login-orange{
        color: #FF9300 !important;
        font-weight: 700 !important;
    }
    .nav-logo{
    width: 175px;
    }
    .h3{
        font-size: 1.1rem;
    }
    .special-case{
        font-size: 1.2rem;
        margin-top: 5px;
    }
    .shadow-custom{
    box-shadow: -2px 3px 0.3rem rgba(242, 248, 252, 0.5) !important;
    }
    }
    @media (min-width: 768px) { 
    .feature-container{
    height: 90px;
    }
    .card-image-size-1{
    max-width: 200px;
    max-height: 125px;
    }  
    .white-width{
    max-width: 500px;
    }
    .position-bg{
    background-color: #EDEDFF;
    height: 20px;
    z-index: -1;
    width: 450px;
    bottom: 20px
    }
    .relative-size{
    height: 45px;
    }
    .card-height{
        height: 425px;
    }
    .feature-img{
        max-width: 90px;
    }
    .footer-height{
    max-height: 200px;
    }
    [type=radio]{
    display: none;
    }
    }
    @media (max-width: 1024px) { 
    .ctb-size {
    padding: 0.34375rem 1rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 100px;
    }
    }
/* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
    .nav-free-but{
    background: #FF9300;
    }
    .nav-free-but:hover,
    .nav-free-but:active,
    input[type=submit]:hover,
    input[type=submit]:active{
    background-color: #fff;
    }
    .nav-free-but:hover,
    .nav-free-but:active{
    border: 2px solid #261050;
    color: #261050;
    }
    .nav-logo{
    width: 230px;
    }
    .feature-container{
    height: 120px;
    }
    .bg-bc{
    background-image: url("../img/Slices/Features/Feature%20background%20full.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    }
    .white-width{
        max-width: 600px;
    }
    .contact-image{
        max-height: 500px;
    }
    .icon-position{
    margin-top: -30px;
    margin-bottom: 20px;
    }
    .position-bg{
    background-color: #EDEDFF;
    height: 20px;
    z-index: -1;
    width: 450px;
    bottom: 0px;
    }
    .card-height{
    height: 500px;
    }
    .feature-img{
    max-width: 120px;
    }
    .footer-height{
    max-height: 200px;
    }
    [type=radio]{
    display: none;
    }
    .hms{
    max-width: 250px;
    }
    .navbar-brand{
    margin-left: 2rem;
    }
/* NAV ITEM HOVER AND ACTIVE ANIMATION */
    .nav-act::before{
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #FF9300;
    }
    .nav-act::before{
    width: 0%;
    bottom: 1px;
    }
    .nav-act:hover::before{
    width: 100%;
    }
    .nav-active{
    border-bottom: 3px solid #FF9300;
    padding-bottom: 4px;
    }
    /*IMAGE ROLLOVER*/
    .swap-on-hover{
    position: relative;	
    margin:  0 auto;
    }
    .swap-on-hover img{
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    }
    .swap-on-hover .swap-on-hover__front-image{
    z-index: 9999;
    transition: opacity .2s linear;
    cursor: pointer;
    }
    .swap-on-hover:hover > .swap-on-hover__front-image{
    opacity: 0;
    }
    }
/* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
    .white-width{
    max-width: 600px;
    }
    .card-height{
    height: 500px;
    }
    .footer-height{
    max-height: 200px;
    }
    }
    .fs-10 {
        font-size: 10px;
    }
    .fs-12 {
            font-size: 12px;
        }
    .fs-13 {
            font-size: 13px;
        }
    .fs-14 {
        font-size: 14px;
    }























