/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

/* Extra small devices (portrait phones, less than 576px)*/
/* No media query since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/

@media (max-width: 576px) {
    
    .thelogo {
        height: 100px;
    }
    
    .butn-height {
        height: 49px;
    }
    
}

@media (min-width: 576px) { 
    
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

    .thelogo {
        display: none;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

    
}




.special::after {
    content: " |";
}

hr{
    border: 1px solid grey;
    width: 100%
}

.mainc-color {
    
    color: #2699FB;
    
}

.backc-color {
    background-color: #2699FB;
}

.borderc-color {
    border-color: #2699FB;
}

.backcc-color {
    background-color: #D5EEFF;
}


