/*Large Sized Boxes*/
#box1, #box8{   
    width: 100%;   
    height: 280px;  
    padding: 10px;  
    border: 0px solid #aaaaaa;  
    background-color: #FFF; 
    box-shadow: 2px 2px 5px 5px #cfcfcf;
    margin: 10px;
}
/*Med Sized Boxes*/
#box2, #box5 {
    width: 100%;
    height: 160px;
    padding: 10px ;
    border: 0px solid #aaaaaa;
    background-color: #FFF; 
    box-shadow: 2px 2px 5px 5px #cfcfcf;
    margin: 10px;
}
/*Small Sized Boxes*/
#box1, #box2, #box4, #box5 {
    width: 105%;
    height: 100px;
    padding: 10px;
    border: 0px solid #aaaaaa;
    background-color: #FFF; 
    box-shadow: 2px 2px 5px 5px #cfcfcf;
    margin: 5px;
}