<div class="sliderDiv">
  <div class="leftArrow">◄</div>
  <div class="rightArrow">►</div>

  <div class="slide leftSlide">
    Second slide
  </div>
  <div class="slide rightSlide">
    Third slide
  </div>
  <div class="slide mainSlide">
    First slide
  </div>
</div>