body{
    background-color: #F1F8FE;
    font-size: 16;
    height: 100%;
}
/* Cool bg */
body {
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#grad {
    /* background-image: radial-gradient(circle, rgb(138, 154, 168), #a9c6d4, #36494e); */
    background-image: radial-gradient(circle, #90daff, #b9e8ff, #fff);
  }
hr {
    border-top: 1px solid black;
    width: auto;
}
/* Rounded */
.rounded-2{
    border-radius: 1rem;
}
/* Backgrounds */
.bg-light-blue{
    background-color: aliceblue;
}
.bg-light-red{
    background-color: lightgoldenrodyellow;
}
.bg-blue{
    background-color: #6ecfff;
}
.bg-white{
    background-color: white;
}
/* Border */
.b-0{
    border: none;
}
.b-blue-1{
    border: 1px solid #0277C6;
}
.checkmark, .b-light-grey-1{
    border: 1px solid #A0A0A0;
}
.b-light-grey-2{
    border: 1px solid rgb(230, 230, 230);
}

/* Color */
.text-white{
    color: #FFF;
}
.text-light-grey{
    color: #A0A0A0;
}
.text-dark-blue{
    color: #0277C6
}
.text-grey{
    color: #707070;
}
.text-black{
    color: #0D1904;
}
/* Font size */
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}
/* Margin */
/* Margin-Top */
.mt-10px{
    margin-top: 12px;
}
.mt-12px{
    margin-top: 12px;
}
.mt-100px{
    margin-top: 100px;
}
.mt-200px{
    margin-top: 200px;
}
/* Padding */
.p-0{
    padding: 0;
}
/* Height */
.h-30px{
    height: 30px;
}
.h-35px{
    height: 35px;
}
.h-45px{
    height: 45px;
}
.h-50px{
    height: 50px;
}
.h-85px{
    height: 85px;
}
.h-100px{
    height:100px;
}
.h-400px{
    height:400px;
}
/* Width */
.w-auto{
    width: auto;
}
.w-30px{
    width: 30px;
}
.w-80px{
    width: 80px;
}
.w-150px{
    width: 150px;
}
.w-300px{
    width: 300px;
}
.w-400px{
    width: 400px;
}
.w-500px{
    width: 500px;
}
.w-820px{
    width: 820px;
}

/* Checkbox properties - Kyk of kleiner kan */
/* Customize the label (the container) */
.container-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #FFF;
}
/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
    background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.container-check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}